  {% block header %}
    <header id="header">
      <nav class="navbar">
        <p>LOGO</p>
        <p>Centro de Datos</p>
      </nav>
    </header>

    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
  {% endblock %}