{% block table %}
  <table  id="table">
    <tr>
      <th>Fullname</th>
      <th>DNI</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    <tr>
      <td class="cell">Juan Pablo Villalba</td>
      <td class="cell">46355777</td>
      <td class="cell">18</td>
      <td class="cell">1138929372</td>
      <td class="cell">contact.juampavlb@gmail.com</td>
    </tr>
    <tr>
      <td class="cell">Juan Pablo Villalba</td>
      <td class="cell">46355777</td>
      <td class="cell">18</td>
      <td class="cell">1138929372</td>
      <td class="cell">contact.juampavlb@gmail.com</td>
    </tr>
    <tr>
      <td class="cell">Juan Pablo Villalba</td>
      <td class="cell">46355777</td>
      <td class="cell">18</td>
      <td class="cell">1138929372</td>
      <td class="cell">contact.juampavlb@gmail.com</td>
    </tr>
    <tr>
      <td class="cell">Juan Pablo Villalba</td>
      <td class="cell">46355777</td>
      <td class="cell">18</td>
      <td class="cell">1138929372</td>
      <td class="cell">contact.juampavlb@gmail.com</td>
    </tr>
    <tr>
      <td class="cell">Juan Pablo Villalba</td>
      <td class="cell">46355777</td>
      <td class="cell">18</td>
      <td class="cell">1138929372</td>
      <td class="cell">contact.juampavlb@gmail.com</td>
    </tr>
    <tr>
      <td class="cell">Juan Pablo Villalba</td>
      <td class="cell">46355777</td>
      <td class="cell">18</td>
      <td class="cell">1138929372</td>
      <td class="cell">contact.juampavlb@gmail.com</td>
    </tr>
  </table>
  <link rel="stylesheet" href="{{ asset('styles/table.css') }}" />
{% endblock %}
